@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Grenze+Gotisch:wght@100..900&display=swap');
body{
    margin: 0;
    font-family: "Germania One", system-ui;
    background-image: url(../imageThem/Theme3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;;
    background-attachment: fixed;
    height: 100vh;
}
.container{
    padding: 40px 20px; 
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px
}
.section h1{
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 50px;
    margin: 20px;
    flex-wrap: wrap;
}
.section p{
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
}
.back-icon {
    margin: 10px;
    padding: 20px 20px;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .container{
        padding: 45px 20px;
        margin: 55px 0;
    }
    .section h1 {
        font-size: 30px;
    }
    .section p {
        font-size: 20px;
    }
    .section {
        margin: 5px;
    }  
}
